.clockcontainer{
    background: url(clock.png) no-repeat center center/cover;
    
    height: 60vh;
    width: 60vh;
    margin: auto;
    position: relative;
}

#hour{
    position: absolute;
    height: 30%;
    width: 2.1%;
    background-color: black;
    border-radius: 50px;
    top: 19.5%;
    left: 48.7%;
    transform-origin: bottom;
  
   
}
#minute{
    position: absolute;
    height: 35%;
    width: 1.5%;
    background-color: black;
    border-radius: 50px;
    top: 15.5%;
    left: 49%;
    transform-origin: bottom;
   
}
#sec{
    position: absolute;
    height: 40%;
    width: 0.7%;
    background-color: red;
    border-radius: 50px;
    top: 10.2%;
    left: 49.4%;
    transform-origin: bottom;
    
}
